__pycache__
*.swp
data/cedict/cedict_1_0_ts_utf-8_mdbg.txt

# Mac files
.DS_Store
.DS_Store?

# Jupyter Notebook
.ipynb_checkpoints

# Never store keys
keys/

logs/
venv/

# Claude core for uploading
claude/staging/

# React/NodeJS files
src/web/react/node_modules
src/web/static/js/react
.env
*.local.js

# web/js test NodeJS
src/tests/web/js/node_modules

# Development DB
emails.db
