<!DOCTYPE html>
<html>
<head>
    <title>{{ article.title if article else 'Article Not Found' }}</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/themes/atacama.css">
    <link rel="stylesheet" href="/css/blog/stream.css">
    <link rel="stylesheet" href="/css/blog/quotes.css">
    <link rel="stylesheet" href="/css/chess.css">
    <script src="/js/atacama.js"></script>
</head>
<body>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% elif article %}
        <article class="message single-view">
            <header class="message-header">
                <h1>{{ article.title }}</h1>
                <div class="metadata">
                    {% if article.author %}
                        <div class="message-author">
                            Written by {{article.author.name}}
                        </div>
                    {% endif %}
                    {% if article.published %}
                        Published: {{ article.published_at.strftime('%Y-%m-%d') }}
                        {% if article.last_modified_at > article.published_at %}
                            <br>Last modified: {{ article.last_modified_at.strftime('%Y-%m-%d') }}
                        {% endif %}
                    {% endif %}
                    {% if article.channel != 'private' %}
                        <br>
                        Channel: <a href="{{ url_for('content.article_stream', channel=article.channel) }}">{{ article.channel|title }}</a>
                        {% if channel_config and channel_config.description %}
                            - {{ channel_config.description }}
                        {% endif %}
                    {% endif %}
                </div>
            </header>

            <div class="message-body">
                <div class="message-main">
                    {{ article.processed_content | safe }}
                </div>
                <div class="message-sidebar"></div>
            </div>


        </article>
    {% endif %}
</body>
</html>
