<!DOCTYPE html>
<html>
<head>
    <title>Message Stream - Atacama</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/atacama.css">
    <link rel="stylesheet" href="/css/stream.css">
    <script src="/js/atacama.js"></script>
</head>
<body>
    <div class="stream-container">
        <h1>Recent Messages</h1>
        
        {% for message in messages %}
            <article class="stream-message message">
                <header class="message-header">
                    <a href="{{ url_for('messages.get_message', message_id=message.id) }}" class="message-title">
                        {{ message.subject or '(No Subject)' }}
                    </a>
                    <span class="message-timestamp">{{ message.created_at_formatted }}</span>
                </header>
                <div class="message-body">
                  <div class="message-main">
                      {{ message.processed_content | safe }}
                  </div>
                  <div class="message-sidebar"></div>
                </div>
            </article>
        {% endfor %}
    </div>
</body>
</html>
