<!DOCTYPE html>
<html>
<head>
    <title>Quote Management - Atacama</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/atacama.css">
    <link rel="stylesheet" href="/css/quotes.css">
</head>
<body>
    <div class="container">
        <h1>Quote Management</h1>
        
        <div class="quote-list">
            {% for quote in quotes %}
            <div class="quote-item">
                <div class="quote-text">"{{ quote.text }}"</div>
                <div class="quote-metadata">
                    <span class="quote-type type-{{ quote.quote_type }}">
                        {{ quote.quote_type }}
                    </span>
                    {% if quote.author %}
                    <span>by {{ quote.author }}</span>
                    {% endif %}
                    {% if quote.source %}
                    <span>from {{ quote.source }}</span>
                    {% endif %}
                </div>
                {% if quote.commentary %}
                <div class="quote-commentary">
                    <em>{{ quote.commentary }}</em>
                </div>
                {% endif %}
                <div class="quote-actions">
                    <a href="{{ url_for('quotes.edit_quote', quote_id=quote.id) }}" class="button">Edit</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
